.buttonsBlock{
    gap: 10px;
    }
    
    .button{
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 8px;
        background-color: rgb(229, 224, 224);
        font-size: larger;
        font-weight: 500;
    }